.SlideItem {
  width: 250px;
  height: 300px;
  margin: 0px 7px;
  cursor: pointer;
  .image {
    width: 250px;
    height: 250px;
    background-size: 100% 100%;
    background-position: center;
    background-color: #aaaaaa;
  }
  .info {
    font-size: 14px;
    .brand {
      color: #a7a7a7;
      margin: 5px 0px;
    }
  }
}
