.HomePost {
  width: 890px;
  background-color: #ffffff;
  padding: 32px;
  .mainTitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .HomePostCard {
      width: 260px;
      height: 320px;
      font-size: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 20px;
      cursor: pointer;
      .image {
        width: 260px;
        height: 260px;
        background-size: 100%;
        background-position: center;
      }
      .category {
        color: #a6a6a6;
      }
    }
  }
}
