@import "../../../../Common.scss";
.ReviewCard {
  width: 400px;
  height: 300px;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  cursor: pointer;
  .image {
    width: 400px;
    height: 240px;
    background-size: 400px;
    background-position: center;
  }
  .brand {
    color: #a6a6a6;
  }
}
