@import "../../../Common.scss";
$moreReviewImgColor: #aaaaaa;

.MoreReview {
  margin: 20px 0px;
  display: flex;
  background-color: #ffffff;
  position: relative;
  cursor: pointer;
  .moreReviewImg {
    width: 136px;
    height: 136px;
    background-size: 136px;
    background-position: center;
    transition: all 0.1s ease-in-out;
    &:hover {
      width: 166px;
    }
  }
  .moreInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;

    .info {
      span {
        font-size: 14px;
        font-weight: 600;
        color: $mainOrange;
      }
      .brand {
        margin: 10px 0px 7px;
      }
    }

    .icons {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      color: $moreReviewImgColor;
      .icons {
        i {
          padding: 0px 3px 0px 6px;
        }
      }
    }
  }
  .rate {
    height: 136px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    right: 0px;
    .date {
      font-size: 12px;
      color: $moreReviewImgColor;
    }
    i {
      font-size: 12px;
      color: $mainOrange;
    }

    .rateBox {
      padding: 2px 5px;
      width: 40px;
      height: 18px;
      font-size: 12px;
      border-radius: 2px;
      color: #ffffff;
      background-color: $mainOrange;
      line-height: 18px;
      position: relative;
      i {
        color: #ffffff;
      }
      span {
        font-size: 12px;
        color: #ffffff;
        position: absolute;
        right: 5px;
      }
    }
  }
}
