@import "../../Common.scss";
.Home {
  width: 890px;
  margin: 0px auto;
  padding-top: 86px;

  .notice {
    font-size: 16px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    cursor: pointer;
    margin-bottom: 30px;
    span {
      margin-right: 20px;
      color: $mainOrange;
    }
  }

  .banner {
    height: 114px;
    background-color: #ffffff;
    margin: 24px 0px;
    background-image: url("https://www.unpa.me/assets/images_v2/banner_check.png");
    background-size: 100%;
    background-position: center;
    cursor: pointer;
  }

  .banner2 {
    height: 164px;
    background-color: #ffffff;
    margin: 24px 0px;
    background-image: url("https://d33ur1yh5ph6b5.cloudfront.net/7838873b-dfeb-4cc1-b6a1-95fea96b1f21-mid");
    background-size: 100% 100%;
    background-position: center;
    cursor: pointer;
  }

  .itemRank {
    background-color: #ffffff;
    margin-bottom: 20px;
    .title {
      font-size: 16px;
      padding: 20px 16px 13px;
    }
  }

  .bottomBannerWrap {
    width: 890px;
    display: flex;
    justify-content: space-between;
  }
}
