.Signin{
    background-color: #fff;
    .containersignin{
        border:1px solid black;
        width: 970px;
        height: 720px;
        box-sizing: border-box;
        margin:30px auto;
        .userform{
            border: 1px solid black;
            width: 360px;
            height: 680px;
            margin:30px auto;
            .textcenter{
                border: 1px solid black;
                width: 200px;
                height: 54px;
                .textimg{
                    width: 100%;
                }
            }
            .fieldset{
                .emailadress {
                    .span-container{
                        display: flex;
                        align-items: flex-end;
                        span {
                            color: red;
                        }
                    }
                }
            }
        }
    }
}


input.underline {

    border-top: none;
    border-right:none;
    border-bottom: 1px solid black;
    width: 328px;
    }
 input::placeholder{
     opacity: 0.5;
 }   

.login{
    border: 1px solid black;
    width: 328px;
    height: 25px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    button {
        margin-top: 10px;
        background-color: #fff;
        width: 328px;
        height: 40px;
        cursor: pointer;
        border: 0;
        border-radius:80%;
    }
}



.threelogin {
    margin-top: 20px;
}

.orline{
    display: flex;
}
.linediv{
    width: 110px;
    height: 1px;
    background-color: #eaeaea;
    margin: 3px 0;
}
