.Unpabody{
    background-color: #fff;
    .containersignup{
        border:1px solid black;
        width: 970px;
        height: 720px;
        box-sizing: border-box;
        margin:30px auto;
        .Unpasignup{
            border: 1px solid black;
            width: 360px;
            height: 680px;
            margin:30px auto;
        }
    }
}