.ReviewDetail {
    width: 1000px;
    padding-top: 86px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;

    article {
        width: 750px;
        padding: 0px 15px;
        .articleWrap {
            background-color: #ffffff;
            border-top: 2px solid #000000;
        }
    }
    .rightProfile {
        width: 280px;
        padding: 0px 15px;
        .profileWrap {
            background-color: #ffffff;
            border-top: 1px solid #e0e0e0;
        }
    }
}